<a href="https://colab.research.google.com/github/midhatkamal5/PythonBasics/blob/main/PythonBasics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("Machine Learning")

Machine Learning

**Checking Value of X**

In [4]:
x = 5
if x > 10:
  print("x is greater than 10")
else:
  print("x is less than 10")

x is less than 10

In [5]:
name = "Midhat"

In [9]:
rate=7
name="Bat"
price=9.76
category='H'
isAvailable=True


print(type(rate))
print(type(name))
print(type(price))
print(type(category))
print(type(isAvailable))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [8]:
print(f"Product Name: {name} ;Product Price: {price}; Product Rate: {rate}") #f is used for formatting

Product Name: Bat ;Product Price: 9.76; Product Rate: 7

In [10]:
#Type casting -> str()
# int()
# float()
# bool()
print(f"Int Price is: {int(price)}")

Round of Price is: 9

In [19]:
name = input("Enter your name: ")
age = int(input("Enter your age: "))

age = age + 1
print(f"Hello {name}")
print(f"You are {age} years old")

Enter your name: Midhat
Enter your age: 25
Hello Midhat
You are 26 years old

## **Rectangle Area Calculation**

In [20]:
#Rectangle Area Calculation
width = float(input("Please enter the width: "))
height = float(input("Please enter the height: "))
print(f"The area is: {width*height}")

Please enter the width: 5.5
Please enter the height: 5.5
The area is: 30.25

## **Shopping Cart Program**

In [28]:
#Shopping Cart Program
productName =  "Bat"
unitPrice = 102.56
quantity = int(input("Please enter the quantity of Bat: "))
print(f"Product Name: {productName}")
print(f"Unit Price: Rs.{unitPrice}")
print(f"Price: Rs.{quantity*unitPrice}")

Please enter the quantity of Bat: 5
Product Name: Bat
Unit Price: Rs.102.56
Price: Rs.512.8

In [41]:
#Indexing
creditCardNumber = "1234-5678-9012-6354"
print(creditCardNumber[0])
print(creditCardNumber[5:9])
print(creditCardNumber[:9])
print(creditCardNumber[9:])
print(creditCardNumber[::2]) #go from start to end by skipping 2 (step size)

#reverse indexing
print(creditCardNumber[-1])

1
5678
1234-5678
-9012-6354
13-6891-34
4

In [71]:
arr = []
encryptedStr="";
creditCardNumberInput = input("Enter the card number: ")
tobeencrypted = creditCardNumberInput[0:len(creditCardNumberInput)-4]
print(f"{tobeencrypted}")
for x in range(len(tobeencrypted)):
  if tobeencrypted[x] == "-":
    encryptedStr += '-'
  else:
    encryptedStr += 'X'
lastdigits = creditCardNumberInput[-4:]
print(f"Your credit card last digits are: {encryptedStr}{lastdigits}")

Enter the card number: 1234-5678-9012-6354
1234-5678-9012-
Your credit card last digits are: XXXX-XXXX-XXXX-6354

## **String Methods**

In [83]:
x = "Hello Customer! Your credit card number is 1234-5678-9012-6354"
var1 = x.find("s")
var2 = x.rfind("b")
var3 = x.capitalize()
var4 = x.title()
var5 = x.upper()
var6 = x.lower()
var7 = x.isdigit()
var8 = x.count("-")
var9 = x.replace("-","")
var10 = x.split()

print(var1)
print(var2)
print(var3)
print(var4)
print(var5)
print(var6)
print(var7)
print(var8)
print(var9)
print(var10)

8
36
Hello customer! your credit card number is 1234-5678-9012-6354
Hello Customer! Your Credit Card Number Is 1234-5678-9012-6354
HELLO CUSTOMER! YOUR CREDIT CARD NUMBER IS 1234-5678-9012-6354
hello customer! your credit card number is 1234-5678-9012-6354
False
3
Hello Customer! Your credit card number is 1234567890126354
['Hello', 'Customer!', 'Your', 'credit', 'card', 'number', 'is', '1234-5678-9012-6354']

## **Task of Strings**

In [82]:
email = "midhat.kamal@bankalfalah.com"
path="C:/Users/Misbah/Documents/file.txt"


splitTask = path.split("/")
print(f"{splitTask}")

findvalue = email.rfind("@") #rFind used to check last occurence
print(f"The user ID is: {email[0:findvalue]}")

print(f"The domain name is: {email[findvalue+1::]}")

['C:', 'Users', 'Misbah', 'Documents', 'file.txt']
The user ID is: midhat.kamal
The domain name is: bankalfalah.com

## **Validate user input Exercise**

In [101]:
userName = input("Please enter the username: ")
if len(userName)>12:
  print("The user name should not be more than 12 characters")
elif not userName.find(" ")==-1:
  print("The user name should not contain spaces")
elif not userName.isalpha():
  print("The user name should not contain digits")
else:
  print("Correct username")

Please enter the username: midhat.kamal
The user name should not contain digits

In [102]:
#Format Specifiers
price1 =3.444
price2=-44
price3=23.5

print(f"price 1 is ${price1:.1f}") #round of to 1 decimal place
print(f"price 2 is ${price2:>10}")
print(f"price 3 is ${price1:}")
print(f"price 3 is ${price1:.1f}")
print(f"price 3 is ${price1:.1f}")
print(f"price 3 is ${price1:.1f}")

price 1 is $3.4
price 2 is $       -44
price 3 is $3.444
price 3 is $3.4
price 3 is $3.4
price 3 is $3.4

Exercise

In [133]:
productName = "Bat" #input("Enter the product name: ")
quantity = 3 #int(input("Enter the quantity: "))
unitPrice = 100
priceWithTax = float(quantity*unitPrice*0.08)

print(f"{'Product':<15}{'Price':>10} {'Tax (8%)':>15}")
print(f"{productName:<15}{unitPrice:>10.2f}{priceWithTax:>15.2f}")
#print(f"{productName: <10}{quantity: <15} {unitPrice: <10} {priceWithTax: <10}")

Product             Price        Tax (8%)
Bat                100.00          24.00

In [ ]:

#+,-,*,/,**,% Arithmetic
#+=,-=,*=,/=,**=,%= Assignment
#and,or,not
#is,is not
#in, not in
#==,!=,>,<,<=,>= Comparison


#Control flow
#Conditional -if
#loops while,for,nested
#match-case

In [134]:
#X if condition else Y
num = 6;
print("Greater than 5") if num>5 else print("less than 5")

Greater than 5

In [ ]:
#Python compound interest
#Major conditions = Principle Amount

principle =0

while principle <=0:
  principle = float(input("Enter your principle amount: "))